.navbar_action {
  background-color: #b0131e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  line-height: 42px;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05), 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 24px;
  min-width: 100%;
  animation: marquee-scroll 25s linear infinite;
}

.dot {
    font-size: 20px;
    color: white;
  }
.marquee-content span {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.NV_title {
  color: #e4e8e2;
  font-size: 13px;
  font-weight: 600;
}

.header-logo {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
}

.header-logo img {
  width: 150px;
  height: 90px;
}
.base {
  background-color: white;
}
.container-allPages {
  background-color: white;
  min-height: 100vh;
  margin-bottom: 30px;
}
.header_itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-direction: row;
  background-color: #e4e8e2;
  line-height: 0px;
  padding: 16px;
  border: 1px solid #d0d3cf;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
.header_itens button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border: none;
}

.header_itens button:hover {
  color: #b0131e;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #000;
}

.drawer-item button {
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 12px;
  border: none;
  background: none;
  cursor: pointer;
}

.drawer-item button:hover {
  color: #b0131e;
  font-weight: bold;
}

.footer {
  background-color: #b0131e;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-top: 2px solid #d11926;
  border-bottom: 2px solid #d11926;
}

.footer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 16px;
}

.footer-2 span {
  color: #080808;
  font-size: 13px;
  font-weight: 400;
}
.itens-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  gap: 24px;
}

.itens-footer button {
  background-color: transparent;
  color: #e4e8e2;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

.itens-footer button:hover {
  color: #e4e8e2;
}
.details-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.details-footer span {
  color: #e4e8e2;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .itens-footer {
    flex-direction: column;
    gap: 16px;
  }
  .header_itens {
    display: none;
  }
  .header-logo {
    display: flex;
    justify-content: flex-start;
    align-self: start;
    border: 1px solid #d0d3cf;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 0px 24px;
  }
  .header-logo img {
    width: 140px;
    height: 80px;
  }
  .NV_title {
    font-size: 10px;
  }
  .menu-button {
    display: block;
  }
}
