.card-home {
  /* min-width: 200px; */
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #f5f5f5;
  border-left: 3px solid #b0131e;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.div-card-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.card-home_text {
  display: flex;
  flex-direction: column;
}

.card-home_text h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 10px;
  color: #333;
}

.card-home span {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

@media screen and (max-width: 768px) {
  .card-home {
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

/** Componente de Banner **/
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
}

.carousel-slide {
  width: 100%;
  min-height: 400px; /* Ajuste a altura conforme necessário */
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Setas de navegação */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s ease;
}
.left {
  left: 15px;
}

.right {
  right: 15px;
}

.card-item {
  border: none;
  width: 340px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 22px;
}

.content_img_CI {
  width: 300px;
  overflow: hidden;
  border-radius: 8px;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.content_img_CI img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.content_img_CI:hover {
  transform: scale(1.07);
}

.content_img_CI:hover img {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.fade-in {
  opacity: 3;
}

.fade-out {
  opacity: 2;
}

.content-desc_CI {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
}

.content-desc_CI h3 {
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1d;
}
.description_CI {
  font-size: 12px;
  font-weight: 500;
  color: #b0131e;
}
.price-text_CI {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
}
.original-text_CI {
  text-decoration: line-through;
  color: #525252; /* Cinza para indicar preço antigo */
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
  opacity: 0.7; /* Deixa o preço antigo um pouco mais discreto */
}

.tag {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}
.red{
  border: 2px solid #e40f1d;
  background-color: #f8b3b8;
  color: #e40f1d;
}
.blue{
  border: 2px solid #0fb2e4;
  background-color: #dcf7ff;
  color: #0fb2e4;
}
.green{
  border: 2px solid #0fe43d;
  background-color: #caffd5;
  color: #0fe43d;
}

@keyframes goldenWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.guarantee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: transform 1.2s ease-in-out;
}

.guarantee-container.active {
  background: linear-gradient(120deg, #daa520, #ffffff, #b8860b);
  background-size: 300% 300%;
  animation: goldenWave 6s infinite linear;
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(179, 153, 5, 0.3);
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.guarantee-card {
  text-align: center;
  max-width: 400px;
  padding: 0px;
  border-radius: 12px;
  border: none;
  background: transparent;
  transition: transform 1.2s ease-in-out;
}

.medal-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  width: 250px;
  transition: transform 1.2s ease-in-out;
}

.medal-icon {
  font-size: 90px;
  color: #fff;
  position: absolute;
  z-index: 1;
}

.medal-number {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  position: absolute;
  z-index: 2;
}

.guarantee-container.active .medal-container {
  transform: scale(1.2);
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
}

.product-image {
  width: 300px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.poltrona {
  transform: rotate(-10deg);
}

.utensilio {
  transform: rotate(10deg);
}

.guarantee-container.active .product-image {
  opacity: 1;
  transform: translateY(0) rotate(0);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }

  .product-image {
    width: 200px;
  }

  .medal-container {
    width: 180px;
  }

  .guarantee-card {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .carousel-slide {
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
