.cards-div {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 16px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}

.cards-div::-webkit-scrollbar {
  display: none;
}

.cards-div > * {
  flex: 0 0 auto;
  width: 80%; /* Ajuste para melhor encaixe dos cards */
  max-width: 300px;
  scroll-snap-align: start;
}

.div-banners{
  width: 100%;
}

.pp_main{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

.pp_main h3{
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.pp_main span{
  font-size: 16px;
  font-weight: 500;
  color: rgb(53, 53, 53);
}

.base_cc{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.base_tt_cc{
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.bg_grenn{
  background-color: #1e8803;
}
.base_tt_cc h2{
  font-size: 24px;
  color: white;
  font-weight: 800;
}

.base_tt_cc h3{
  font-size: 18px;
  color: white;
  font-weight: 600;
}


.plans-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.plan-card {
  width: 45%;
  min-width: 280px;
  height: 100%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-5px);
}

.plan-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.plan-features {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Garante que os cards tenham mesma altura */
}

.plan-features li {
  font-size: 15px;
  color: #555;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.check-icon {
  color: #28a745;
  margin-right: 8px;
}

.plan-price {
  font-size: 24px;
  font-weight: bold;
  color: #e74c3c;
  text-decoration: underline;
  margin-top: 10px;
}
.see-all-button{
  background-color: #1e8803;
  color: white;
  border-radius: 8px;
  border: 1px solid #28a745;
  font-size: 18px;
  font-weight: 600;
  padding: 24px;
  margin-top: 20px;
}
.see-all-button:hover{
  background-color: #1e8803 !important;
  color: white !important;
  border-radius: 8px;
  border: 1px solid #1e8803 !important;
  font-size: 18px;
  font-weight: 600;
  padding: 24px;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(78, 165, 83, 0.12) !important;
}
.plan-button {
  background-color: #28a745;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  animation: pulse 1.5s infinite;
  width: 100%;
}
.color_p1{
  color: #555;

}
.color_p2{
  color: #15a793;
}
.borda_p1{
  border: 4px solid #555;
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.5);
}
.borda_p2{
  border: 4px solid #15a793;
  box-shadow: 0 20px 40px rgba(7, 162, 173, 0.5);
}
.plan-button:hover {
  background-color: #218838;
}

.div_garantia{
  background-color: rgb(185, 159, 9);
}

.items_container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  padding: 30px;
  margin-top: 20px;
}
.items_container h3{
  font-size: 24px;
  color: black;
  font-weight: 700;
}
.carousel-container_mobile{
  display: none;
}
.desktopitens{
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(40, 167, 69, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
  }
}
.media_item {
  width: 300px; /* Ajuste conforme necessário */
  height: 600px; /* Ajuste conforme necessário */
  object-fit: cover; /* Mantém o aspecto visual sem distorções */
  border-radius: 6px;
}

.container_avaliacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .container_avaliacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
  .plans-container {
    flex-direction: column;
    align-items: center;
  }

  .plan-card {
    width: 100%;
  }
  .see-all-button{
    background-color: #1e8803;
    width: 100%;
    color: white;
    border-radius: 8px;
    border: 1px solid #28a745;
    font-size: 18px;
    font-weight: 600;
    padding: 24px;
    margin-top: 20px;
  }
  .carousel-container_mobile{
    width: 100%;
    visibility: visible;
    display: contents;
  }
  .desktopitens{
    display: none;
  }
}
